
.barLoader {
  width: 100%;
  max-width: 370px;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  padding: 12px 0;

}

.temp {
  width: 100%;
  max-width: 370px;
  display: flex;
  justify-content: center;
  margin-inline: auto;
}








