.searchBarHeader {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: blue;
}

.searchBarWraper {
  /* width:100%; */
  max-width: 370px;
  padding-inline: 15px;
  margin-inline: auto;
}
.searchBarForm {
  position: relative;
  display: flex;
  justify-content: center;
}

.searchBarInput {
  margin-inline: auto;
  padding: 6px 12px 4px 36px;
  width: 100%;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.searchBarButton {
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translate(0, -50%);
  display: flex;
  place-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

.searchBarButtonIcon {
  width: 18px;
  height: 18px;
}
