.imageGallery {
  padding-top: 24px;
  padding-bottom: 12px;
}

.imageGalleryWraper {
  max-width: 370px;
  padding-inline: 15px;
  margin-inline: auto;
}

.imageGalleryList {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.imageGalleryList::not(:last-child) {
  margin-bottom: 12px;
}

@media (min-width: 760px) {
  .imageGalleryWraper {
    max-width: 760px;
    padding-inline: 15px;
    margin-inline: auto;
  }

  .imageGalleryList {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
  }
}

@media (min-width: 1280px) {
  .imageGalleryWraper {
    max-width: 1280px;
  }

  .imageGalleryList {
    justify-content: center;
  }
}
