.imageModalBtn {
    display: block;
    margin-left: auto;
    cursor: pointer;

}

.imageModalDesc {
    margin-left: 1.2em;
    display: flex;
    gap: 1.2em;
    
}

.imageModalDesc div {
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}
.imageModalDesc span {
    color: white;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
h3 {
    color: white;
    margin-left: 1.2em;
}


